body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 255, 0.121);
}

h1 {
  color: #072bcc;
}

form {
  margin-bottom: 20px;
}

form label {
  display: block;
  margin: 10px 0;
}

form input {
  padding: 8px;
  width: 100%;
  max-width: 300px;
  box-sizing: border-box;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #0056b3;
}